<!-- <form [formGroup]="myForm">

  <label for="name">Nom</label>
  <br>
  <input id="name" type="text" placeholder="JohnCooper" formControlName="name">
  <br>

  <label for="status">Status</label>
  <br>
  <input id="status" type="radio" name="status" value={{!isCoop}} formControlName="status" checked=checked> Particulier
  <input id="status" type="radio" name="status" value={{isCoop}} formControlName="status"> Coopérative
  <br>

  <form *ngIf="isCoop">
      <label for="typeCoop">Type de coopérative</label>
      <br>
      <select id="typeCoop" type="text" formControlName="Type">
          <option value="1">Agriculture et horticulture</option>
          <option value="2">Secteur financier</option>
          <option value="3">Commerce de gros et détail</option>
          <option value="4">Services à la collectivité</option>
          <option value="5">Pharmacies coopératives</option>
      </select>
      <br>
  </form>

  <label for="email">Email</label>
  <br>
  <input id="email" type="text" placeholder="JohnCooper@email.com" formControlName="email">
  <br>

  <label for="password">Mot de passe</label>
  <br>
  <input id="password" type="text" placeholder="MonMotDePasse" formControlName="password">
  <br>

  <label for="Confirmpassword">Confirmez votre mot de passe</label>
  <br>
  <input id="Confirmpassword" type="text" placeholder="MonMotDePasse" formControlName="Confirmpassword">
  <br>

  <button [disabled]="!myForm.valid" (click)="sendForm()" class="btn">Envoyer</button>
</form> -->

<form [formGroup]="myForm">
<mat-form-field appearance="fill">
  <mat-label>Nom</mat-label>
  <input matInput [formControlName]="inscriptionFormProperties.NOM">
</mat-form-field>
    <button [disabled]="myForm.invalid">Submit</button>
</form>