<form [formGroup]="myForm">
        
    <label for="name">Name</label>
    <br>
    <input id="name" type="text" formControlName="name">
    <br><label *ngIf="myForm.controls['name'].pristine">Pristine</label>
    <br><label *ngIf="myForm.controls['name'].touched">Touched</label>
    <br><label *ngIf="myForm.controls['name'].valid">Valid</label>

    <label for="name">Type de coopérative</label>
    <br>
    <input id="Type" type="text" formControlName="Type">
    <br><label *ngIf="myForm.controls['Type'].pristine">Pristine</label>
    <br><label *ngIf="myForm.controls['Type'].touched">Touched</label>
    <br><label *ngIf="myForm.controls['Type'].valid">Valid</label>

    <label for="email">Email</label>
    <br>
    <input id="email" type="text" formControlName="email">
    <br><label *ngIf="myForm.controls['email'].pristine">Pristine</label>
    <br><label *ngIf="myForm.controls['email'].touched">Touched</label>
    <br><label *ngIf="myForm.controls['email'].valid">Valid</label>

    <label for="password">Password</label>
    <br>
    <input id="password" type="text" formControlName="password">
    <br><label *ngIf="myForm.controls['password'].pristine">Pristine</label>
    <br><label *ngIf="myForm.controls['password'].touched">Touched</label>
    <br><label *ngIf="myForm.controls['password'].valid">Valid</label>

    <label for="Confirmpassword">Confirm your password</label>
    <br>
    <input id="Confirmpassword" type="text" formControlName="Confirmpassword">
    <br><label *ngIf="myForm.controls['Confirmpassword'].pristine">Pristine</label>
    <br><label *ngIf="myForm.controls['Confirmpassword'].touched">Touched</label>
    <br><label *ngIf="myForm.controls['Confirmpassword'].valid">Valid</label>
    
    <button 
        [disabled]="!myForm.valid"
        (click)="sendForm()" 
        class="btn"
    >Envoyer</button>
</form>