.titleEventCreate{
  padding-top: 2em;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  color: rgba(78, 107, 214, 0.758);
  font-family: 'ethnocentric', 'arial', sans-serif;
}

.monForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }