<h1 class="titleEventCreate"> Créer un évènement </h1>

<form class="monForm" [formGroup]="myEventForm" class="monForm" (ngSubmit)="createEvent()">

    <!-- TYPE -->
    <mat-form-field *ngIf="listeEvents$ | async as typesEventData" appearance="fill">
        <mat-label>Type d'évènement</mat-label>
        <mat-select id="typeEvent" [formControlName]="eventsProperties.TYPE">
            <mat-option *ngFor="let typeEvent of typesEventData" [value]="typeEvent.type">
                {{typeEvent.type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <!-- NOM -->
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput [formControlName]="eventsProperties.NOM">
    </mat-form-field>
    <br>


    <!-- DATE -->
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [formControlName]="eventsProperties.DATE">
    </mat-form-field>
    <br>

    <!-- LIEU -->
    <mat-form-field appearance="fill">
        <mat-label>Lieu</mat-label>
        <input matInput [formControlName]="eventsProperties.LIEU">
    </mat-form-field>
    <br>

    <!-- DESCRIPTION -->
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [formControlName]="eventsProperties.DESCRIPTION">
    </mat-form-field>
    <br>

    <p class="champsObligatoires"> * Champs obligatoires </p>
    <br>
    <button [disabled]="myEventForm.invalid" class="submitButton" type="submit">Submit</button>
</form>
<br>