<nav>
  <!-- MENU -->
  <div class="nav-wrapper">
    <li class="left">
      <a class="dropdown-trigger" href="#!" data-target="menudropdown">
        <a href="http://localhost:4200/" title="Techno'Coop">
          <img alt="technocoop_logo" src="../../../assets/technocoop_logo.jpg" width="150" height="64" />
        </a>
      </a>
    </li>
    <!-- LOGO -->
    <a href="http://localhost:4200/" class="brand-logo center">Techno'Coop</a>

    <!-- MON COMPTE -->
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="moncompte">Mon compte<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


<!-- LISTE DEROULANTE MENU -->
<ul id="menudropdown" class="dropdown-content">
  <li><a routerLink="compo/home">Home</a></li>
  <li class="divider"></li>
  <li><a routerLink="compo/events">Evènements</a></li>
  <li class="divider"></li>
  <li><a routerLink="compo/listecooperatives">Coopératives</a></li>
  <li class="divider"></li>
  <li><a routerLink="compo/inscription">Inscription</a></li>
  <li class="divider"></li>
  <li><a routerLink="compo/contact">Contact</a></li>
</ul>


<!-- LISTE DEROULANTE MON COMPTE -->
<ul id="moncompte" class="dropdown-content">
  <li><a routerLink="">S'inscrire</a></li>
  <li class="divider"></li>
  <li><a routerLink="">Se connecter</a></li>
</ul>