.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(64, 97, 214, 0.758);
    }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(21, 53, 233, 0.758);
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(190, 191, 197, 0.758);
  }
  
  /* Compte */
  .monCompte {
    position: fixed;
    top: 1;
    left: 1;
    right: 0;
  }

  /* Liste du menu */
  .listeMenu, .listeMenu a, .listeMenu a:visited{
    color: white;
    text-decoration: none;
    list-style-type: none;
  }

  .listeMenu li {
    padding-bottom: 50px;
  }

 

  mat-drawer-content {
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }