<!-- HEADER -->
<mat-toolbar class="header">
  <a (click)="sidenav.toggle(); afficherMenu(menuAffiche)"> 
    <img src="../assets/technocoop_logo.jpg" alt="Logo Techno'Coop" width="50px">
  </a>
 
  <!-- "MENU" AFFICHE OU NON  -->
  <p *ngIf="!menuAffiche" id="MenuTitle"> {{textMenu}} </p>

  <span class="spacer"></span>
  <h1 class="titleTechnoCoop"> ​TECHNO🌻COOP​ </h1>
  <span class="spacer"></span>

  <P *ngIf="!monCompteAffiche" id="monCompteNav"> {{textMonCompte}} </P> 
  <a routerLink="compo/login" class="monCompte" (mouseenter)="afficherMonCompte(monCompteAffiche)" (mouseleave)="afficherMonCompte(monCompteAffiche)">
    <mat-icon> account_circle </mat-icon>
  </a>
</mat-toolbar>




<!-- MENU  -->
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">

    <!-- LISTE DEROULANTE MENU -->
    <ul class="listeMenu">
      <a routerLink="compo/home"><li>Home</li></a>
      <a routerLink="compo/events"><li>Evènements</li></a>
      <a routerLink="compo/listecooperatives"><li>Coopératives</li></a>
      <a routerLink="compo/inscription"><li>Inscription</li></a>
      <a routerLink="compo/contact"><li>Contact</li></a>
    </ul>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




<!-- FOOTER -->
<mat-toolbar class="myfooter">
<mat-toolbar-row>
  <span>TECHNO'COOP</span>
  <span class="spacer"></span>
  <span class="certifiedFooter"> Certified by Baudoux Inc.</span>
  <mat-icon>verified_user</mat-icon>
</mat-toolbar-row>
</mat-toolbar>