/* HEADER  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(21, 53, 233, 0.758);
}

.titleTechnoCoop {
  color: white;
  font-family: 'ethnocentric', 'arial', sans-serif;
  font-size: larger;
}


/* SIDENAV */
.container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(78, 107, 214, 0.758);
  font-family: 'ethnocentric', 'arial', sans-serif;
}


/* TITRE MENU  */
#MenuTitle {
  font-size: large;
  color: white;
  position: fixed;
  left: 4em;
  font-family: 'ethnocentric', 'arial', sans-serif;
}


/* LISTE DU MENU */
.listeMenu,
.listeMenu a,
.listeMenu a:visited {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.listeMenu li {
  line-height: 50px;
}

.listeMenu li:hover {
  background-color: rgba(21, 53, 233, 0.758);
  border: 2px solid white;
}


/* COMPTE */
#monCompteNav {
  font-size: small;
  color: white;
  position: fixed;
  right: 4em;
}

.monCompte:visited {
  color: inherit;
}


/* FOOTER */
.myfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(190, 191, 197, 0.758);
  font-family: 'ethnocentric', 'arial', sans-serif;
}

.certifiedFooter {
  font-size: small;
}


/* POLICE */
@font-face {
  font-family: 'ethnocentric';
  src: url('../assets/font/ethnocentric_rg.otf') format('OpenType')
}

/* ICONES ET ESPACES */
.icon {
  padding: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}
