  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Techno'Coop</h5>
          <p class="grey-text text-lighten-4">Techno'Coop, c'est un accès facile aux petites coopératives de toute la Wallonie francophone et aux nombreux évènements qu'elles proposent!</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Inscription</h5>
          <ul>
            <li><a class="white-text" routerLink="compo/inscription">S'inscrire à Techno'Coop</a></li>
            <li><a class="white-text" href="#!">S'inscrire à la newsletter</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">Formulaire de contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright: <a class="brown-text text-lighten-3" href="http://localhost:4200/">TechnoCoop</a>
      </div>
    </div>
  </footer>