<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="containerContact">
        <h1>Contact</h1>
        <br>
        <p> <span class="titleInfoContact"> Adresse </span> <span class="infoContact"> Allée des Artisans 19, 5590 Ciney </span></p>
        <br>
        <p> <span class="titleInfoContact"> Horaires </span> <span class="infoContact"> Lu-Vdd <br> 8:30 - 17:30 </span></p>
        <br>
        <p> <span class="titleInfoContact"> Téléphone </span> <span class="infoContact"> 0800 18 822 </span></p>
    </div>
</body>

</html>